<!-- views/survey.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <meta charset="utf-8">
    <title>KOPPEE - Coffee Shop HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css files/style.min.css" rel="stylesheet">
    <link href="css files/style.css" rel="stylesheet">
    <link href="css files/survey.css" rel="stylesheet">

</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">STARX</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Service</a>
                    <a href="menu.html" class="nav-item nav-link">Menu</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu text-capitalize">
                            <a href="reservation.html" class="dropdown-item">Reservation</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

   <!-- Page Header Start -->
   <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Survey</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Survey</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container survey-container">
    <% if (user) { %>
        <h2>Welcome, <%= user.firstName %>!</h2>
        <form action="/submit-survey" method="post">
            <div class="question-block">
                <label for="question1">How would you rate the quality of our coffee?</label>
                <select id="question1" name="question1" required>
                    <option value="Excellent">Excellent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Below Average">Below Average</option>
                    <option value="Poor">Poor</option>
                </select>
            </div>

            <div class="question-block">
                <label>What is your favorite coffee drink at our shop?</label>
                <div>
                    <input type="radio" id="latte" name="question2" value="Latte" required>
                    <span for="latte">Latte</span>
                </div>
                <div>
                    <input type="radio" id="cappuccino" name="question2" value="Cappuccino" required>
                    <span for="cappuccino">Cappuccino</span>
                </div>
                <div>
                    <input type="radio" id="espresso" name="question2" value="Espresso" required>
                    <span for="espresso">Espresso</span>
                </div>
                <div>
                    <input type="radio" id="mocha" name="question2" value="Mocha" required>
                    <span for="mocha">Mocha</span>
                </div>
                <div>
                    <input type="radio" id="americano" name="question2" value="Americano" required>
                    <span for="americano">Americano</span>
                </div>
            </div>

            <div class="question-block">
                <label>How likely are you to recommend our coffee shop to a friend?</label>
                <select id="question3" name="question3" required>
                    <option value="Very Likely">Very Likely</option>
                    <option value="Likely">Likely</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Unlikely">Unlikely</option>
                    <option value="Not Sure">Not Sure</option>
                </select>
            </div>

            <div class="question-block">
                <label>Do you enjoy the atmosphere and vibe of our coffee shop?</label>
                <div>
                    <input type="radio" id="yes" name="question4" value="Yes" required>
                    <span for="yes">Yes</span>
                </div>
                <div>
                    <input type="radio" id="no" name="question4" value="No" required>
                    <span for="no">No</span>
                </div>
            </div>

            <div class="question-block">
                <label>How would you rate the friendliness of our staff?</label>
                <select id="question5" name="question5" required>
                    <option value="Excellent">Excellent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Below Average">Below Average</option>
                    <option value="Poor">Poor</option>
                </select>
            </div>

            <div class="question-block">
                <label>Which coffee roast level do you prefer?</label>
                <div>
                    <input type="radio" id="light" name="question6" value="Light" required>
                    <span for="light">Light</span>
                </div>
                <div>
                    <input type="radio" id="medium" name="question6" value="Medium" required>
                    <span for="medium">Medium</span>
                </div>
                <div>
                    <input type="radio" id="dark" name="question6" value="Dark" required>
                    <span for="dark">Dark</span>
                </div>
            </div>

            <div class="question-block">
                <label>How do you like your coffee sweetened?</label>
                <div>
                    <input type="radio" id="sugar" name="question7" value="Sugar" required>
                    <span for="sugar">Sugar</span>
                </div>
                <div>
                    <input type="radio" id="cream" name="question7" value="Cream" required>
                    <span for="cream">Cream</span>
                </div>
                <div>
                    <input type="radio" id="honey" name="question7" value="Honey" required>
                    <span for="honey">Honey</span>
                </div>
                <div>
                    <input type="radio" id="none" name="question7" value="NaN" required>
                    <span for="NaN">NaN</span>
                </div>
            </div>
            <button type="submit" class="submit-btn" onclick="submitSurvey()">Submit Survey</button>
            <div id="popup-container" class="popup-container">
                <div class="popup-content">
                  <span class="close-popup" onclick="closePopup()">&times;</span>
                  <p id="popup-message"></p>
                </div>
              </div>
        </form>
    <% } else { %>
        <p>To fill this survey, you need to be logged in.</p>
        <a href="/login">Login</a>
    <% } %>
</div>


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Main Street, Baabda, Lebanon</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+1 234 567 890</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i>elia@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>Connect with us on social media for updates and more.</p>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8:00 AM - 8:00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2:00 PM - 8:00 PM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Newsletter</h4>
                <p>Subscribe to our newsletter for the latest updates, and earn coupons for free! </p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" id="emailInput" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary font-weight-bold px-3" onclick="redirectToSignup()">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    
    <script src="js files/main.js"></script>
    <script src="js files/test.js"></script>
    <script>
        function openPopup(message) {
    document.getElementById('popup-message').innerText = message;
    document.getElementById('popup-container').style.display = 'block';
}

function closePopup() {
    document.getElementById('popup-container').style.display = 'none';
    window.location.href = "index.html"
}

function submitSurvey() {
    console.log('submitSurvey function called'); 
    openPopup('Thank you for completing the survey!');

    return false;
}
    </script>
</body>
</html>
